{% extends "base.html" %}
{% block content %}
<div class="pp-apropos">
   <div class="pp-section-contact pp-dark-background" style="text-align: center;">
	  <img src="/FmLogo480.png">
	  <br />
      <hr class="pp-divider" />
      <br />
      <h1>Visages et Lumi&egrave;res de Pigalle et d'Ailleurs</h1>
      <p>Portraits, Lumi&egrave;res, Visages, Ambiances.</p>
      <p>Nuits et Jours, Ext&eacute;rieurs et Int&eacute;rieurs, Nets et Flous, Ombres et Lumi&egrave;res, Couleurs et Monochromes.</p>
      <br />
      <h2>Divagations et r&ecirc;veries photographiques</h2>
      <br />
      <hr class="pp-divider" />
      <br /> <br />
      <p class="lead">contact@francois-michel.com</p>
      <p>&nbsp;</p>
      <hr class="pp-divider" />
   </div>
</div>
<div id="Bio" class="content-section-bio">
	<h1 style="text-align: center;">Biographie</h1>
	<br>
	<p>Fran&ccedil;ois Michel nous entra&icirc;ne dans ses divagations de photographe solitaire.</p>
	<p>C'est en 2001 qu'il d&eacute;couvre la street photography et commence &agrave; arpenter les rues des villes, arm&eacute; d'un appareil photo &agrave; la recherche d'images. Cette&nbsp;recherche est bas&eacute;e sur une conviction : le fait qu'un monde extraordinaire existe cach&eacute; dans l'ordinaire, le fait que le quotidien rec&egrave;le des tr&eacute;sors pour celui qui saura les regarder, le fait que la beaut&eacute; est pr&eacute;sente tout autour de nous et ne demande qu&rsquo;&agrave; &ecirc;tre r&eacute;v&eacute;l&eacute;e.</p>
	<p>Fran&ccedil;ois Michel met en image ce qu&rsquo;il trouve &agrave; port&eacute;e de son objectif, le plus souvent de courte focale. Il ne voyage pas pour photographier; il photographie pour voyager et nous faire voyager. C&rsquo;est autour de chez lui que ce photographe pi&eacute;ton cherche sa source d&rsquo;inspiration.</p>
	<p>Ing&eacute;nieur, p&egrave;re de famille, Fran&ccedil;ois Michel savoure le temps qu&rsquo;il peut consacrer &agrave; son art et essaie d&rsquo;en extraire le maximum. C&rsquo;est le plus souvent le soir qu&rsquo;on le croise, pr&egrave;s de chez lui &agrave; Pigalle. Il arrive &eacute;galement de l&rsquo;apercevoir dans quelque destination lointaine, le plus souvent asiatique, arpentant la nuit les rues autour de son h&ocirc;tel, ouvrant une parenth&egrave;se artistique sur ses d&eacute;placements professionnels.</p>
	<p>Si on recherche ce qui caract&eacute;rise le travail de Fran&ccedil;ois Michel, ce sont probablement les contrastes&hellip;</p>
	<p>Noir et Blanc, Net et Flou, Ombre et Lumi&egrave;re, Clair et Obscure, Pr&eacute;paration et Improvisation, Technique et Empathie, Instantan&eacute; et Mise en Sc&egrave;ne, R&eacute;alit&eacute; et Fantasme&hellip;</p>
	<p>Ces forces compl&eacute;mentaires sont comme le Yin et le Yang qui insuffle l&rsquo;&eacute;nergie au travail de Fran&ccedil;ois Michel.</p>
	<p>Ce travail puise sa force dans la ma&icirc;trise de la technique. Il l&rsquo;a d&eacute;couverte jeune, en 1977, quand il a re&ccedil;u pour son anniversaire un Minolta srT 100x, reflex 24x36 semi-automatique, c&rsquo;est &agrave; dire manuel dans le r&eacute;f&eacute;rentiel d&rsquo;aujourd&rsquo;hui. Il s&rsquo;est alors initi&eacute; &agrave; la prise de vue et au tirage &agrave; l&rsquo;agrandisseur. Ces bases du travail de photographe guident toujours son travail, &agrave; l&rsquo;heure de la prise de vue num&eacute;rique et du post traitement sur ordinateur.</p>
	<p>&nbsp;Le travail de la lumi&egrave;re compl&egrave;te la technique photographique. Ce sont des &eacute;clairages travaill&eacute;s qui caract&eacute;risent son travail. C&rsquo;est en 2007, guid&eacute; par son mentor, Jean Turco, que Fran&ccedil;ois Michel commence un apprentissage minutieux des techniques d&rsquo;&eacute;clairage en studio. Influenc&eacute; par les maitres du clair-obscur, notamment le Caravage et Rembrandt, Fran&ccedil;ois Michel &eacute;tudie sans rel&acirc;che les possibilit&eacute;s infinies de mise en valeur de ses sujets. Cette passion perfectionniste pour les &eacute;clairages qui illumine sont travail en studio, les R&ecirc;veries, se prolonge et se d&eacute;veloppe dans les rues avec les Divagations.</p>
	<p>Photographe de personnes, de portrait, de sc&egrave;nes de la vie quotidienne, Fran&ccedil;ois Michel se passionne pour la rencontre avec l&rsquo;autre. Il pose un regard plein d&rsquo;empathie et de sympathie sur les inconnus qu&rsquo;il croise et met en lumi&egrave;re. Un regard bienveillant, pour partager ce qu&rsquo;il voit de meilleur.</p>
	<p>Il est adepte de la photographie subjective, photographiant &agrave; la premi&egrave;re personne et imposant son regard au spectateur. Fran&ccedil;ois Michel nous montre la r&eacute;alit&eacute; telle qu&rsquo;il la per&ccedil;oit, telle qu&rsquo;il la voit ou parfois telle qu&rsquo;il l&rsquo;imagine...</p></div>
</div>
{% endblock %}
