<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="Francois Michel">
<link rel="icon" href="resources/FM32.png">
<title>Francois Michel</title>
<!-- Fontawesome -->
<link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
<link href="/photopop.css" rel="stylesheet">
