{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="pp-section-tarifs">
    <h1 id="TarifsOeuvres">Tarifs &OElig;uvres</h1>
    <p>S&eacute;ries limit&eacute;es &agrave; 30 exemplaires tous formats et supports confondus</p>
    <p>Originaux sign&eacute;s avec certificat d&rsquo;autenticit&eacute;</p>
    <p>Tirages sur papier photographique contrecoll&eacute; sur dibond 2 mm.</p>
    <h3>Prix suivant le format (euros TTC)</h3>
    <p>40x60 cm : 300</p>
    <p>50x75 cm : 450</p>
    <p>60x90 cm : 600</p>
    <p>76x114 cm : 900</p>
    <p>Autre formats : sur devis</p>
    <h3>Autres options sur devis</h3>
    <p>Grand formats</p>
    <p>Encadrement</p>
    <p>Caisse Am&eacute;ricaine</p>
    <p>Plexiglass</p>
    <p><br /><br /></p>
    <hr class="pp-divider" />
    <p><br /><br /></p>
    <h1 id="TarifsPresta">Tarifs Prestations</h1>
    <h2>Portraits Corporate</h2>
    <p>Site corporate, communication d'entreprise</p>
    <p>S&eacute;ance de 2 heures - Jusqu&rsquo;&agrave; 7 participants</p>
    <p>15 photos - 600 euros TTC</p>
    <h2>Portraits C&eacute;l&eacute;brit&eacute;</h2>
    <p>Publications, portfolio</p>
    <p>S&eacute;ance de 1 heure - individuelle</p>
    <p>7 photos - 360 euros TTC</p>
    <h2>Portraits en Ext&eacute;rieur</h2>
    <p>Particulier, portfolio com&eacute;dien ou artiste</p>
    <p>S&eacute;ance de 2 heures - Individuel ou couple</p>
    <p>20 photos - 480 euros TTC</p>
    <h2>Portraits en Int&eacute;rieur</h2>
    <p>Photos r&eacute;alis&eacute;es chez vous, dans votre lieu d&rsquo;habitation</p>
    <p>S&eacute;ance de 2 heures - Individuel, couple, famille, b&eacute;b&eacute;, maternit&eacute;</p>
    <p>20 photos - 480 euros TTC</p>
    <h2>Portraits en Studio</h2>
    <p>Portfolio de mannequin, com&eacute;dien, danseur ou particulier</p>
    <p>S&eacute;ance de 2 heures ou 4 heures. Individuel ou couple</p>
    <p>Au choix : Portrait, Mode, Beaut&eacute;, Lingerie, Nu artistique</p>
    <p>2 heures : 20 photos - 600 euros TTC</p>
    <p>4 heures : 40 photos - 900 euros TTC</p>
    <p>&nbsp;</p>
    <hr class="pp-divider" />
    <p>&nbsp;</p>
    <h2>Conditions de collaboration</h2>
    <p>Contrat sign&eacute; avant la s&eacute;ance</p>
    <p>Paiement 50% &agrave; la commande, 50% &agrave; la livraison des photos</p>
    <p>Photos livr&eacute;es sous forme de fichiers jpeg en r&eacute;solution maximale + r&eacute;duite pour Internet</p>
    <p>Le photographe peut utiliser les images afin de promouvoir son travail</p>
    <p>&nbsp;</p>
    <hr class="pp-divider" />
    <p>&nbsp;</p>
    <h2>Options</h2>
    <p><em>Le co&ucirc;t des options s&rsquo;ajoute au co&ucirc;t de la s&eacute;ance</em></p>
    <h3>Option Tirage Papier</h3>
    <p>Devis sur demande</p>
    <h3>Option Maquillage Professionnel</h3>
    <p>Un look : 50 euros</p>
    <p>2-3 looks + retouches maquillage pendant la s&eacute;ance : 100 euros</p>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
